  /* This is a CSS file for My Portfolio Landing Page */

  /* || Generals */
  * {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family:system-ui, sans-serif
  }

  body {
    font-size: 17px;
    font-weight: 200;
  }

  /* || Header */
  
  header {
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 65px;
    top: 0;
    border-bottom: .5px solid rgb(161, 155, 155);
    background-color: #ffffff;
  }
  
  header p {
    margin-left: 12px;
    font-weight: 700;
    font-size: 32px;
    color: black;
  }
  
  #githublogo {
    top: 0;
    right: 5px;
    height: 35px;
    margin-right: 35px;
  }

  #githublogo:hover, header p:hover {
    transform: scale(1.1);
  }
  
  /* || Navigation Bar */

  nav {
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    height: 65px;
    top: 0;
  }
  
  nav ul {
    display: inline-flex;
    list-style: none;
  }

  nav a {
    font-weight: 200;
    text-decoration: none;
    color: black;
    font-size: 19px;
    padding: 12px;
    margin-left: 25px;
    margin-right: 25px;
  }

  nav a:hover {
    background-color: black;
    color: white;
    border-radius: 15px;
  }

  
  /* || Navigation Menu*/
  
  @media only screen and (max-width:768px) {
    nav, #githublogo {
      display: none;
    } 
  } 

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    display: block;
    background-image: url(./images/favicon.png) no-repeat;
    background-image: cover;
    width:35px;
    height: 35px;
    margin-right: 15px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 15px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 22px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  @media only screen and (min-width:768px) {
    .dropdown {
      display: none;
    } 
  }

  /* || About me Section */
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }
  
  .about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin-bottom: 55px;
    padding-top: 75px;
  }

  #mypicture {
    position: relative;
    width: 255px;
    height: 255px;
    border-radius: 50%;
    margin: 25px;
  }

  .bio p {
    line-height: 27px;
    font-style: italic;
    margin-top: 15px;
  }

  /* || My work Section */

  .my-work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
    color: #ffffff;
    padding: 25px;
    margin-bottom: 55px;
  }
  
  .my-work-header {
    width: 100%;
    text-align: center;
    padding: 5px;
  }

  .first-app {
    display: flex;
    align-items: center;
    width: 70%;
    height: 275px;
    border-radius: 25px;
    margin: 25px;
    padding: 25px;
    background-image: url(.assets\images\First App.jpg);
    background-size: cover;
  }

  .first-app a {
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    background-color: #f2f2f2;
    text-align: left;
    color: black;
  }

  .first-app:hover {
    transform: scale(1.1);
    box-shadow: #ccc;
  }

  .first-app:hover > a {
    transform: scale(1.1);
    background-color: black;
    color: white;
  }
  .first-app:hover > a::after {
    content: " / HTML, CSS";
    color: #ccc;
  }

  .app {
    margin: 10px;
    padding: 25px;
    width: 70%;
    height: 155px;
    display: flex;
    align-items: center;
    background-color: rgb(122, 126, 126);
    border-radius: 25px;
  }

  .app a {
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
    background-color: #f2f2f2;
    text-align: left;
    color: black;
  }

  .app:hover {
    transform: scale(1.1);
    box-shadow: #ccc;
  }

  .app:hover > a {
    transform: scale(1.1);
    background-color: black;
    color: white;
  }
  
  .app:hover > a::after {
    content: " / HTML, CSS";
    color: #ccc;
  }

  #app1 {
    background-image: url(.assets\images\App1.jpg);
    background-size: cover;
  }

  #app2 {
    background-image: url(assets\images\App2.jpg);
    background-size: cover;
  }

  #app3 {
    background-image: url(assets\images\App3.jpg);
    background-size: cover;
  }

  /* || Footer */

  footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: black;
   
  }

  footer a {
    color: white;
    text-decoration: none;
    padding: 15px;
  }
  
  footer a:hover {
    transform: scale(1.1);
    color: black;
    background-color: white;
    border-radius: 5px;
  }

  /* || Contact Form */

  input[type=text], select, textarea {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 175px;
    width: 40%;
    border-radius: 5px;
    padding: 20px;
  }